<!-- DISPLAY THE CREATED TEAM HERE -->

<!DOCTYPE html>
<html>
  <head>
    <title>Superhero Teams and Heroes!</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>

  <body>
    <h1><%= @team.name %></h1>
    <h4><%= @team.motto %></h2>

    <h2>Heros:</h2>
      <% @members.each do |hero| %>
        <p><%= hero.name %></p>
        <p><%= hero.power %></p>
        <p><%= hero.bio %></p>
        <% end %>

  </body>
</html>
