<!-- DISPLAY THE CREATED TEAM HERE -->

<!DOCTYPE html>
<html>
  <head>
    <title>Superhero Teams and Heroes!</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>

  <body>
    <h1><%= @team.name %></h1>
    <h4><%= @team.motto %></h2>

    <h2>Heros:</h2>
      <% @ships.each do |ship| %>
        <p><%= ship.name %></p>
        <p><%= ship.type %></p>
        <p><%= ship.booty %></p>  
        <% end %>
        
  </body>
</html>
